body {
    align-items: center;
    width:1000px;
    min-height: 90vh;
    margin:auto;
  }

/* ===================================================================== */
/* Opening Page Styling Below=========================================== */

#opening-page {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input {
    box-sizing: border-box;
    font-size: 20px;
    width:200px;
  }
  
  #game-title {
    font-size: 60px;
    color: #df29ff;
    background-image: -webkit-linear-gradient(0deg, #df29ff 10%, #9d0d49 30%, #44c5fc 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding:10px;
  }
  
  #menu-option {
    display:flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
  }

  .label{
    font-size: 20px;
    font-weight:500;
    margin: 0px;
    text-align: center;
  }
  
  .menu-section {
    display:flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .menu-row{
    display:flex;
    justify-content: space-around;
}
  
  .bike-img {
    height:70px;
    animation: rotation 6s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  #difficulty-mode {
    box-sizing: border-box;
    list-style-type: none;
    font-size: 0;
    padding:10px;
    margin: 10px auto;
    text-align: center;
  }
  
  #difficulty-mode > li {
    box-sizing: border-box;
    display:inline;
  }
  
  #difficulty-mode > li > a{
    text-decoration: none;
    color:black;
    background-color: lightgrey;
    font-size: 20px;
    padding:10px 40px;
    border-radius: 5%;
  }
  
  #difficulty-mode > li > a.active,
  #difficulty-mode > li > a:hover {
    color: red;
    background-color: skyblue;
  }
  
  #start-game-btn {
    font-size: 20px;
    margin:auto;
  }

  #game-page {
    width:100%;
    margin:0  auto;
    justify-content: center;
}


/* ===================================================================== */
/* =====================Game Page Styling Below========================= */

#game-page {
  display:flex;
  align-items: center;
  flex-direction: column;
  background-color: lightskyblue;
  border-radius: 20px;
}

.score-board {
    display:flex;
    justify-content: space-between;
    width:100%;
    padding:10px;
    margin: auto;
    align-items: center;
}

.player-name {
  font-size:30px;
}

#player-score {
  font-size: 50px;
  margin:0px;
}

#arena {
    position: relative;
    border: 5px solid black;
    flex-shrink: 0;
    background-color: lightgrey;
    margin:20px;
    border-radius: 10px;
}

.bike {
    position: absolute;
    height: 100px;
    z-index: 100;
}

#circle {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
}

canvas {
    position:absolute;
}

.rock {
    position:absolute;
}


/* ===================================================================== */
/* ===================Game Over Page Styling Below======================= */
#game-over-page{
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height:600px;
  margin-top:50px;
  background-color: lightgrey;
  border-radius: 20px;
}

#score-stats {
  display:grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  margin: 30px 0px;
}

#score-stats > p{
  font-size: 20px;
}