body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#arena {
    width: 900px;
    height: 500px;
    position: relative;
    border: 5px solid black;
    flex-shrink: 0;
    background-color: lightgrey;
}

.bike {
    position: absolute;
    height: 100px;
}

#circle {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
}

canvas {
    position:absolute;
}
